In [10]:
#Python Set | update()

In [22]:
dict1={'a':1,'b':6}
dict2={'c':9,'d':10,'e':90}
dict1.update(dict2) #returns NULL and update in 1st dict
print(dict1)

{'a': 1, 'b': 6, 'c': 9, 'd': 10, 'e': 90}

In [9]:
list1 = [1, 2, 3]  
list2 = [5, 6, 7]  
list3 = [10, 11, 12] 
  
# Lists converted to sets  
set1 = set(list2)  
set2 = set(list1) 
  
# Update method  
set1.update(set2) 
   
# Print the updated set  
print(set1)  
  
  
# List is passed as an parameter which  
# gets automatically converted to a set  
set1.update(list3)  
print(set1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 10, 11, 12}

In [23]:
dict1={'a':1,'b':6}
dict2={'c':1,'d':10}
dictf=dict1.copy()
dictf.update(dict2)
print(dictf)

dict1={'a':1,'b':6}
for i,j in dict1.items():
    print('value of {0} is {1}:'.format(i,j))

{'a': 1, 'b': 6, 'c': 1, 'd': 10}

In [24]:
sur={'customer':['id','name','edit'],\

'location':['val','gh','syn']

}

mapp={'cust':'customer','loc':'location'} 

coldict={'cust':[{'id':'101','name':'viv'},{'id':'102'}],

         'loc':[{'val':'1234','syn':'11'},{'val':'112','syn':'11'}]

}

#solution approach 
#for each dict in every item of main dict, compare the keys to master, 
#if master has extra keys than append this key with null value in coldict.   

a=[]
for k in coldict.keys():
    a.append(k)
    
for i in a:
    for j in coldict[i]:
        ls1=sur[mapp[i]]
        ls2=j.keys()
        for itr in ls1:
            if itr not in ls2:
                j[itr]=''
print(coldict)

{'cust': [{'id': '101', 'name': 'viv', 'edit': ''}, {'id': '102', 'name': '', 'edit': ''}], 'loc': [{'val': '1234', 'syn': '11', 'gh': ''}, {'val': '112', 'syn': '11', 'gh': ''}]}

In [34]:
# Data masking

import re
import hashlib
#testing data masking
test_int = 9818299222
test_string = "password-123#@"
#column_val = str(test_string)
#strip_unicode = re.compile("([^-_a-zA-Z0-9!@#%&=,/'\";:~`\$\^\*\(\)\+\[\]\.\{\}\|\?\<\>\\]+|[^\s]+)")
#column_value = strip_unicode.sub('',  column_val)
#domainIndex = column_value.find("@")
result = hashlib.sha256(test_string.encode())
print(result)   
maskedStringValue = result.hexdigest()
print(maskedStringValue)

#test_string2 = "password-123#@gmail.com"

column_val2 = str(test_string)
result22 = hashlib.sha256(column_val2.encode())
print(result22)
maskedStringValue22 = result22.hexdigest()
print(maskedStringValue22)

<sha256 HASH object @ 0x0000018695D1EB48>
772a622cdbae4b3e9230f48f33ec0290a2faa7c5ec8a4cf8fd1d0b5fdb83ce14
<sha256 HASH object @ 0x0000018695D1E7B0>
772a622cdbae4b3e9230f48f33ec0290a2faa7c5ec8a4cf8fd1d0b5fdb83ce14

In [ ]:
#delete list element based on second list
list1 = [11, 5, 17, 18, 23, 50]  
index = [0,1,4]
index.sort(reverse=True) # deleting taking element in high to low 
for i in index:
    del(list1[i])
print(*list1) 

#method 2
list1 = [11, 5, 17, 18, 23, 50]  
index = [0,1,4]

for i in index:
    list1[i]=None
[i for i in list1 if i!=None]

###QUE1-->  methods to remove element from 1st list from the second list containing index to pick

In [ ]:
ls1 = [11, 5, 17, 18, 23, 50]  
ls2 = [11,1,4]
print(list(set(ls1)-set(ls2)))
print(ls1+ls2)
###Que2--> find elementin 1st list not in second

In [42]:
# sort elements based on 2nd element

bs = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
ab = bs.sort() #returns null, sort based on 1st element  
print(bs)

def tuplesum(value):
    return(value[1])

bs.sort(key=tuplesum)
print(bs)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [68]:
import pandas as pd

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, None, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
df = pd.DataFrame(data)
 
print(df[['Name', 'Qualification']])
#print(df)

##OR


dict=[{'col1':[1,'2x',3],'col2':[1,2,3]}]#[{key:value,key:value}]
#df = pd.DataFrame(dict)
#print(df)

##OR

dict=[{'col1':[1,2,3],'col2':[1,2,3]},{'col1':[5,2,3],'col2':[1,6,3]}]
#df = pd.DataFrame(dict)
#print(df)

##OR

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [71]:
#ETL


#print(df.isnull())#
df = df.fillna(0)
df = df.dropna() #all rows having NA
print(list(df)) #return column
print(df)
df[df.Name =='Jai']#filter

['Name', 'Age', 'Address', 'Qualification']
     Name   Age    Address Qualification
0     Jai  27.0      Delhi           Msc
1  Princi   0.0     Kanpur            MA
2  Gaurav  22.0  Allahabad           MCA
3    Anuj  32.0    Kannauj           Phd

  Name   Age Address Qualification
0  Jai  27.0   Delhi           Msc

In [72]:
data = {'Name':['Princi','Princi2', 'Princi2', 'Gaurav', 'Anuj'],
        'Age':[27,25, 24, 22, 32],
        'Address':['Delhi','Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc','Bsc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df2 = pd.DataFrame(data)
 
#print(df[['Name', 'Qualification']])
print(df2)

      Name  Age    Address Qualification
0   Princi   27      Delhi           Msc
1  Princi2   25      Delhi           Bsc
2  Princi2   24     Kanpur            MA
3   Gaurav   22  Allahabad           MCA
4     Anuj   32    Kannauj           Phd

In [77]:
frames = [df, df2]
add = pd.concat(frames)
#print(add)
df3 = pd.DataFrame()# create empyt df
#print(df3)
#df2['Salary'] = 'NA' #adding extra column
df2['Salary2'] = df2['Age']*200
print(df2)

      Name  Age    Address Qualification  Salary2
0   Princi   27      Delhi           Msc     5400
1  Princi2   25      Delhi           Bsc     5000
2  Princi2   24     Kanpur            MA     4800
3   Gaurav   22  Allahabad           MCA     4400
4     Anuj   32    Kannauj           Phd     6400

C:\Users\vprasad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [83]:

print(df2)
df2.sort_values(['Salary2'], ascending=True)# sorting dataframe

f = {'Salary2': 'sum','Name':'first'}
df2.groupby(['Address'], as_index=False).agg(f)

print(df2)

df2.groupby('Address').aggregate( SumOfSalary2 = pd.NamedAgg(column='Salary2',aggfunc=sum),
                                 Colname = pd.NamedAgg(column='Name',aggfunc=min))

      Name  Age    Address  Salary2
0   Princi   27      Delhi     5400
1  Princi2   25      Delhi     5000
2  Princi2   24     Kanpur     4800
3   Gaurav   22  Allahabad     4400
4     Anuj   32    Kannauj     6400
      Name  Age    Address  Salary2
0   Princi   27      Delhi     5400
1  Princi2   25      Delhi     5000
2  Princi2   24     Kanpur     4800
3   Gaurav   22  Allahabad     4400
4     Anuj   32    Kannauj     6400

           SumOfSalary2  Colname
Address
Allahabad          4400   Gaurav
Delhi             10400   Princi
Kannauj            6400     Anuj
Kanpur             4800  Princi2